<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    <h2>Sign Up </h2>
    <form id="signupForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="button" onclick="submitForm()">Submit</button>
    </form>

    <script>
        function submitForm() {

            var name = document.getElementById("name").value;
            var password = document.getElementById("password").value;


            var data = {
                "name": name,
                "password": password
            };

            fetch('/auth/sign-up-action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                localStorage.setItem('jwtToken', JSON.stringify({ token: data.token }));
                console.log(localStorage.getItem('jwtToken'));
                window.location.href = '/auth/sign-in';
            })
            .catch((error) => {
                console.error('Error:', error);

            });
        }
    </script>
</body>
</html>>
</html>