<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <h1>Sign up</h1>
      <form method="post" action='/sign-up-action'>
         <label for="name">Your new login:</label><br>
         <input type="text" id="name" name="name">

          <label for="password">Your new password:</label><br>
         <input type="text" id="password" name="password">

         <input class="submit" type="submit" value="Submit">
      </form>
   </body>
</html>